<!DOCTYPE html>
<html>
<head>
	<title>Accueil</title>
</head>
<body>
	<a href="/formCalcul">Formulaire de Calcul de distance avec menu déroulant.</a><p> Fonctionne très bien mais le listing de toutes les gares est un peu lent</p>
	<br><br>
	<a href="/formCalculsimple">Formulaire de Calcul de distance.</a><p>Même système mais sans le menu déroulant
	<br><br>
	<p>Code Valentin Ginard</p><br>
	<a href="https://github.com/RHacklette/trouve_ton_train">Code serveur.</a><br>
	<a href="https://github.com/RHacklette/trouve_ton_train_rest">Code REST.</a><br>
	<a href="https://github.com/RHacklette/trouve_ton_train_java_soap">Code Java SOAP.</a><br>
	<br><br>
	<p>J'ai aussi réalisé un SOAP en ladon mais ladon ne peut pas être exécuté sur les ports 80 ou 443 ce qui fait que je ne peux pas le lancer sur heroku donc j'ai réalisé mon SOAP en java.<br><a href="https://github.com/RHacklette/trouve_ton_train_soap">Code ladon SOAP</a><br>
</body>
</html>
